@font-face {
	font-family: 'Roboto';
	src: url('fonts/Roboto-Regular.ttf') format('truetype');
}

body {
	width: 800px;
	margin: 0 auto;
	font-family: 'Roboto';
	padding-top: 15px;
}

.NumberInput {
	width: 75px;
}

#Header {
	text-align: center;
}
